<div class="container mt-5">
  <h1><%= @pet.name %></h1>
  <ul>
    <li>Species: <%= @pet.species %></li>
    <li>Address where found: <%= @pet.address %></li>
    <li>Found on: <%= @pet.found_on %></li>
  </ul>

  <%= link_to 'Back', pets_path %>
  <br>
  <%= link_to 'Edit this pet', edit_pet_path(@pet)  %>
  <br>
  <%= link_to 'Mark this pet as found', pet_path(@pet), method: :delete  %>
</div>
